#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  min-height: calc(100vh - 40px);
}

::ng-deep .btn-mode {
  background: var(--primary) !important;
  margin: 2rem 1rem !important;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}

.voice-text {
  font-size: 18px;
  color: var(--color-text);
  margin: 10px 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-label {
  font-size: 16px;
  color: var(--color-text);
}

.input-field {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  background-color: var(--vtl-background);
  color: var(--color-text);
}

.textarea {
  resize: vertical;
  height: 100px;
}

.button-display-example {
  background-color: var(--primary);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
  margin-top: 1rem;
}

.button-display-example:hover {
  background-color: var(--secondary);
}
